.patient{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--secondary);
    border-radius: 8px;
}

.patient_info{
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.patient_info span{
    font-size: 10px;
}

@media (min-width: 600px){
    .patient_info{
        font-size: 20px;
        width: 25%;
    }

    .patient_info span{
        font-size: 14px;
    }
}