.main-header {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.page-title{
  font-size: 20px;
}

.search-button{
  padding: 10px;
  background-color: var(--primary);
}

.search-input{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 8px;
}



@media (min-width: 600px) {
  .main-header{
    padding: 10px 100px;
  }

  .page-title{
    font-size: 30px;
  }
}