.add-button{
    padding: 10px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

@media(min-width: 600px){
    .patients{
        width: 60%;
    }

    .add-button{
        width: 100px;
        height: 100px;
        bottom: 50px;
        right: 50px;
    }
}