:root{
    --primary: #222;
    --secondary: rgb(59, 59, 59);
    --white: #fdfdfd;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, input, button{
    font-family: 'Outfit', sans-serif;
    color: var(--white);
    border: 0;
}

button{
    cursor: pointer;
}

input, button{
    background-color: var(--white);
}

body{
    background-color: var(--primary);
}

ul{
    list-style: none;
}